Bryan Tang 04/08/2021 UCD Coding Bootcamp
## Observations of Data Trends 

Looking at the data, the largest demographic of players by Gender are Men under the age of 30, while also being the largest source of income by Gender. I see that group consistently being the target demographic.

The largest source of income by Age regardless of gender is the age group 20-24.
For further analysis I would like to see a breakdown of spending by Age Group and Gender, but also a breakdown of exactly what kind of items each demographic is purchasing for marketing purposes.

In [653]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(None)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

 Display the total number of players

In [654]:
#total_players_count = purchase_data["SN"].value_counts()
#total_players = len(total_players_count)
#total_players_count.head()
unique_players = purchase_data.drop_duplicates(subset=['SN'])
unique_players = unique_players[["SN", "Age", "Gender", "Price"]]
unique_players.reset_index(drop=True, inplace=True)
total_players = len(unique_players)
print(f'Total Number of Unique Players: {total_unique}')
unique_players.head(None)

Total Number of Unique Players: 576

                SN  Age  Gender  Price
0          Lisim78   20    Male   3.53
1      Lisovynya38   40    Male   1.56
2       Ithergue48   24    Male   4.88
3    Chamassasya86   24    Male   3.27
4        Iskosia90   23    Male   1.44
..             ...  ...     ...    ...
571         Hala31   21    Male   1.02
572     Jiskjask80   11    Male   4.19
573     Aethedru70   21  Female   3.54
574     Yathecal72   20    Male   3.46
575        Sisur91    7    Male   4.19

[576 rows x 4 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [655]:
#Calculations for number of unique items, average price, total number of purchases, total revenue
purchase_count = purchase_data["Price"].count()
average_price = purchase_data["Price"].mean()
unique_items = len(purchase_data["Item Name"].unique())
sum_price = purchase_data["Price"].sum()

purchase_table = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Total Revenue": [sum_price],
    "Number of Purchases": [purchase_count],}, )

purchase_table.head()

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     179       3.050987        2379.77                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [847]:
#Value Counts for gender

gender_up = unique_players['Gender'].value_counts()
gender_percents = (gender_up / total_players).map("{:.2%}".format)
#Assign values to variables for calculation
male_count = gender_up[0]
female_count = gender_up[1]
other_count = gender_up[2]

male_percent = (male_count / total_players)
other_percent =  (other_count / total_players) 
female_percent = (female_count / total_players) 


gender_count_summary = pd.DataFrame({
    "Total Players by Gender": gender_up,
    "Percentage Players by Gender": gender_percents,
    
    })
gender_count_summary

                       Total Players by Gender Percentage Players by Gender
Male                                       484                       84.03%
Female                                      81                       14.06%
Other / Non-Disclosed                       11                        1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [817]:
#By Gender: Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender 
gender_totals = purchase_data.groupby(["Gender"]).count()['Price']
gender_avg = purchase_data.groupby(['Gender']).mean()['Price']

#Per person
gender_sum = purchase_data.groupby(["Gender"]).sum()['Price']
gender_sum2 = purchase_data.groupby(["SN"]).sum()['Price']
gender_sum3 = ((gender_sum - gender_sum2.min()) / (gender_sum2.max() - gender_sum2.min()))
gender_each_avg = gender_sum / gender_count_summary["Total Players by Gender"]

gender_purchase_table = pd.DataFrame({
    'Total Purchases': gender_totals,
    "Purchase Avg": gender_avg.map("${:.3}".format), 
    "Total Purchase Value": gender_sum.map("${:.6}".format),
    "Avg Purchase per Person": gender_each_avg.map("${:.3}".format)
  })
gender_purchase_table.head()

,Total Purchases,Purchase Avg,Total Purchase Value,Avg Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [859]:
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
#age_range = np.arange(10, 45, 4)
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
#Bins for Age Group Purchases, bins for Unique Player Age Group Count
purchase_data['Age Group'] = (pd.cut(purchase_data['Age'], age_bins, labels=group_names))
unique_players['Age Group'] = (pd.cut(unique_players['Age'], age_bins, labels=group_names))

age2 = unique_players['Age Group'].value_counts()
agetotal = unique_players['Age Group'].count()
agepercent = (age2 / total_players).map("{:.2%}".format)
#Summary Table
agedemo = pd.DataFrame({
    "Total Players by Age": age2,
    "Percent Players by Age": agepercent,
    })

print(f'Age Demographics Table')
agedemo
#Age Demographic
print(agedemo.head(None))
#Extra gender age group breakdown
gender_agegroup = unique_players.groupby(['Gender'])
gender3 = gender_agegroup['Age Group'].value_counts()
print(gender3.head(None))

Age Demographics Table
       Total Players by Age Percent Players by Age
20-24                   258                 44.79%
15-19                   107                 18.58%
25-29                    77                 13.37%
30-34                    52                  9.03%
35-39                    31                  5.38%
10-14                    22                  3.82%
<10                      17                  2.95%
>40                      12                  2.08%
Gender                 Age Group
Female                 20-24         40
                       15-19         17
                       25-29          8
                       30-34          5
                       <10            4
                       10-14          3
                       35-39          3
                       >40            1
Male                   20-24        214
                       15-19         86
                       25-29         68
                       30-34         47
                       35-39         26
                       10-14         19
                       <10           13
                       >40           11
Other / Non-Disclosed  15-19          4
                       20-24          4
                       35-39          2
                       25-29          1
Name: Age Group, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [821]:
#Calculations for Age Group
age_count = purchase_data.groupby('Age Group').count()
age_sum = purchase_data.groupby('Age Group').sum()['Price']
age_count = purchase_data.groupby('Age Group').count()['Price']
age_avg = purchase_data.groupby('Age Group').mean()['Price']
age_each_avg = age_sum / age2
#Summary Table
age_summary = pd.DataFrame({
    "Purchase Count": age_count,
    "Avg Purchase Price": age_avg.map("${:.3}".format),
    "Total Purchase Value": age_sum.map("${:.6}".format),
    "Avg Purchase Total per Person by Age Group": age_each_avg.map("${:.3}".format)
})
age_summary.head(None)

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person by Age Group
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [739]:
spender_total = purchase_data.groupby('SN').sum()['Price']
spender_count = purchase_data.groupby('SN').count()['Price']
spender_avg = purchase_data.groupby('SN').mean()['Price'].map("${:.3}".format)


sorted_spender = pd.DataFrame({
    "Purchase Count": spender_count,
    "Total Purchase Value": spender_total,
    "Avg Purchase Price": spender_avg,
      
})
sorted_spender.sort_values("Total Purchase Value", ascending=False).head(5)

             Purchase Count  Total Purchase Value Avg Purchase Price
SN
Lisosia93                 5                 18.96              $3.79
Idastidru52               4                 15.45              $3.86
Chamjask73                3                 13.83              $4.61
Iral74                    4                 13.62               $3.4
Iskadarya95               3                 13.10              $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [810]:

#spender_count = purchase_data.groupby('SN').count()['Price']
item_count = purchase_data.groupby(['Item ID', 'Item Name',]).count()['Price']
item_total = purchase_data.groupby(['Item ID','Item Name']).sum()['Price']
item_price = purchase_data.groupby(['Item ID', 'Item Name']).mean()['Price'].map("${:.3}".format)
sorted_items = pd.DataFrame({
    "Purchase Count": item_count,
    "Total Purchase Value": item_total,
    "Price": item_price
    
})
sorted_items.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,$4.23
145,Fiery Glass Crusader,9,41.22,$4.58
132,Persuasion,9,28.99,$3.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [812]:
sorted_items.sort_values("Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,$4.23
82,Nirvana,9,44.10,$4.9
145,Fiery Glass Crusader,9,41.22,$4.58
103,Singed Scalpel,8,34.80,$4.35